<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>顏偉森</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:blue; font-size:60px;}
		h2 {color:#A500CC; font-size:40px;}
	</style>

	<script>
		function change1() {
  			document.getElementById("pic").src = "static/3.jpg";
  			document.getElementById("h2text").innerText = "靜宜資管";
		}

		function change2() {
  			document.getElementById("pic").src = "static/4.jpg";
  			document.getElementById("h2text").innerText = "WEl-SEN YAN";
		}
	</script>

</head>
<body background="static/9.jpg">
	<table width="70%">
		<tr>
			<td>
				<img src="static/4.jpg" width="70%"id="pic" onmouseover="change1()" onmouseout="change2()"></img>
			</td>>

			<td>
				<h1>顏偉森</h1>
				<h2 id="h2text">WEl-SEN YAN</h2>
			</td>
		</tr>
	</table>
	<table width="70%" border="1">
		<tr>
			<td>
				目前是就讀靜宜大學資訊管理學系二年級：<a href="https://csim.pu.edu.tw/">https://csim.pu.edu.tw/</a><br>
	            IG:<a href="https://www.instagram.com/milly911025/">https://www.instagram.com/milly911025/</a><br>
	            FB:<a href="https://www.facebook.com/profile.php?id=100006410313232">https://www.facebook.com/profile.php?id=100006410313232</a><br>
	            電話:<a href="0937626171">0937626171</a><br>
	            E-mail:<a href="s1101761@gm.pu.edu.tw">s1101761@gm.pu.edu.tw</a><br>
	            喜歡打排球，目前是加入系排<br> 
			</td>

			<td>
				羅曼蒂克的愛情配樂<br>
				<audio controls>
					<source src="static/羅曼蒂克的愛情.mp3" type="audio/mP3">
				</audio><br>
			</td>

			<td>
				天珠變<br>
				<iframe src="https://www.youtube.com/embed/QqyjSKAASbc" allowfullscreen></iframe>
			</td>
		</tr>
	</table>

</body>
</html>